body {
    font-family: Arial;
}

.container {
    margin: 1% auto;
    width: 960px;
    padding: 1% 5%;
}

.header {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 30px;
    transition: all 0.5s ease;
}

.header a {
    text-decoration: none;
    color: black;
}

.header.up {
    font-size: 1.3em;
    padding: 0;
}

.footer {
    font-size: 11px;
    position: fixed;
    bottom: 5px;
    right: 10px;
}

.footer div {
    margin: 2px;
    display: inline-block;
}

.footer a {
    color: #666;
}

.search {
    width: 50%;
    padding: 15px;
    font-size: 16px;
    margin: auto;
    display: block;
}

.results {
    margin: 5% auto 0 auto;
    border: 1px solid #ddd;
    font-size: 16px;
}

.results th {
    width: 100px;
    padding: 10px;
}

.results tr.even {
    background-color: #eee;
}

.results td {
    padding: 10px;
}

.results td a {
    color: #666;
}

.results td a:visited {
    color: #999;
}

.results td a:hover {
    position: relative;
    top: 1px;
}

.alert {
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

.warning {
    background: beige;
}

.error {
    background: red;
}

.wait {
    text-align: center;
    font-size: 1.3em;
    margin: 60px;
}

.breadcrumb {
    text-align: left;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.breadcrumb > div {
    float: left;
    margin-right: 10px;
}

.breadcrumb a {
    color: #999;
}

.folder-container {
    width: 100%;
}

.folder-container tr {
    text-align: left;
}

.folder-container a {
    color: #999;
}

.folder-container a:hover {
    position: relative;
    top: 1px;
}

.file-container {
    text-align: left;
    border: 1px solid;
}

.file-container pre {
    padding-left: 10px;
    max-width: 900px;
    overflow: auto; /* FF fallback */
    overflow: overlay;
}

.file-container .linenos pre {
    padding: 0;
}

.highlighttable {
    font-size: 1.1em;
    width: 100%;
}

.linenodiv a {
    color: #333;
    text-decoration: none;
}

.linenodiv a:hover {
    position: relative;
    top: 1px;
    color: #666;
}

.linenodiv {
    margin: 0 0 0 10px;
}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #dd1144 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #009999 } /* Literal.Number.Bin */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #dd1144 } /* Literal.String.Backtick */
.highlight .sc { color: #dd1144 } /* Literal.String.Char */
.highlight .sd { color: #dd1144 } /* Literal.String.Doc */
.highlight .s2 { color: #dd1144 } /* Literal.String.Double */
.highlight .se { color: #dd1144 } /* Literal.String.Escape */
.highlight .sh { color: #dd1144 } /* Literal.String.Heredoc */
.highlight .si { color: #dd1144 } /* Literal.String.Interpol */
.highlight .sx { color: #dd1144 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #dd1144 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
