body {
    margin: 1% auto;
    width: 50%;
    text-align: center;
    border: 1px solid #ddd;
    padding: 5%;
}

.header {
    font-size: 2em;
    padding-bottom: 5%;
    font-weight: bold;
}

.search {
    width: 50%;
    padding: 15px;
    font-size: 16px;
}

.results {
    margin: 5% auto 0 auto;
    border: 1px solid #ddd;
    font-size: 16px;
}

.results th {
    width: 100px;
    padding: 10px;
}

.results tr.even {
    background-color: #eee;
}

.results td {
    padding: 10px;
}

.results td a {
    color: #666;
}

.results td a:visited {
    color: #999;
}

.results td a:hover {
    position: relative;
    top: 1px;
}
