body {
    font-family: Arial;
}

.container {
    margin: 1% auto;
    width: 50%;
    padding: 1% 5%;
}

.header {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 30px;
    transition: all 0.5s ease;
}

.header a {
    text-decoration: none;
    color: black;
}

.header.up {
    font-size: 1.3em;
    padding: 0;
}

.footer {
    font-size: 12px;
    position: fixed;
    bottom: 5px;
    right: 10px;
}

.footer div {
    margin: 5px;
    display: inline-block;
}

.search {
    width: 50%;
    padding: 15px;
    font-size: 16px;
    margin: auto;
    display: block;
}

.results {
    margin: 5% auto 0 auto;
    border: 1px solid #ddd;
    font-size: 16px;
}

.results th {
    width: 100px;
    padding: 10px;
}

.results tr.even {
    background-color: #eee;
}

.results td {
    padding: 10px;
}

.results td a {
    color: #666;
}

.results td a:visited {
    color: #999;
}

.results td a:hover {
    position: relative;
    top: 1px;
}

.alert {
    padding: 10px;
    margin: 20px auto;
}

.warning {
    background: beige;
}

.error {
    background: red;
}

.wait {
    text-align: center;
    font-size: 1.3em;
    margin: 60px;
}

.breadcrumb {
    text-align: left;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.breadcrumb > div {
    float: left;
    margin-right: 10px;
}

.breadcrumb a {
    color: #999;
}

.folder-container {
    width: 100%;
}

.folder-container tr {
    text-align: left;
}

.folder-container a {
    color: #999;
}

.file-container {
    text-align: left;
    border: 1px solid;
    padding: 10px;
    word-wrap: break-word;
}
