body {
    margin: 1% auto;
    width: 50%;
    text-align: center;
    border: 1px solid #ddd;
    padding: 0 5% 5% 5%;
}

.header {
    font-size: 2em;
    font-weight: bold;
    padding: 10% 0 5% 0;
    transition: all 1s ease;
}

.header.up {
    font-size: 1.3em;
    padding: 3% 0 5% 0;
}

.search {
    width: 50%;
    padding: 15px;
    font-size: 16px;
}

.results {
    margin: 5% auto 0 auto;
    border: 1px solid #ddd;
    font-size: 16px;
}

.results th {
    width: 100px;
    padding: 10px;
}

.results tr.even {
    background-color: #eee;
}

.results td {
    padding: 10px;
}

.results td a {
    color: #666;
}

.results td a:visited {
    color: #999;
}

.results td a:hover {
    position: relative;
    top: 1px;
}

.alert {
    padding: 10px;
    margin: 20px auto;
}

.warning {
    background: beige;
}

.error {
    background: red;
}

.breadcrumb {
    text-align: left;
    font-size: 1.1em;
}

.breadcrumb > div {
    float: left;
    margin-right: 10px;
}

.breadcrumb a {
    color: #999;
}

.folder-container {
    width: 100%;
}

.folder-container tr {
    text-align: left;
}

.folder-container a {
    color: #999;
}
