<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Package</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="header" id="header">
      Debian Packages Source Viewer
    </div>
    <div class="wait" id="wait">
      Please wait while I'm fetching the sources...
    </div>
    <div id="warning" class="warning alert" hidden></div>
    <div id="error" class="error alert" hidden></div>
    <div id="breadcrumb" class="breadcrumb" hidden></div>
    <div style="clear: both"></div>
    <table id="folder-container" class="folder-container" hidden>
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Mode</th>
          <th>Creation time</th>
          <th>Modification time</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <pre id="file-container" class="file-container" hidden></pre>
    <script src="/static/packages.js"></script>
  </body>
</html>
