<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Search</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="header">
      <a href="/">Debian Packages Source Viewer</a>
    </div>
    <div class="container">
      <input id="search" class="search" autofocus placeholder="Type a package name...">
      <div id="warning" class="warning alert" hidden></div>
      <div id="error" class="error alert" hidden></div>
      <table class="results" id="results" hidden>
        <thead>
          <tr>
            <th>Distribution</th>
            <th>Package</th>
            <th>Version</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="footer">
      <div>
        Fork me on <a href="https://github.com/ralt/dpsv">Github</a>
      </div>
      <div>|</div>
      <div>
        Hosted by <a href="https://platform.sh">Platform.sh</a>
      </div>
    </div>
    <script src="/static/search.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70497765-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
